async-timeout==3.0.1
certifi==2020.6.20
click==7.1.2
cycler==0.10.0
decorator==4.4.2
fastapi==0.61.1
h11==0.11.0
httpcore==0.12.0
httptools==0.1.1
httpx==0.16.1
idna==2.10
imageio==2.9.0
kiwisolver==1.2.0
matplotlib==3.3.2
networkx==2.5
numpy==1.19.2
Pillow==7.2.0
prometheus-client==0.7.1
pydantic==1.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
rfc3986==1.4.0
scikit-image==0.17.2
scipy==1.5.2
sentry-sdk==0.18.0
six==1.15.0
sniffio==1.1.0
starlette==0.13.6
starlette-prometheus==0.7.0
tifffile==2020.10.1
urllib3==1.25.10
uvicorn==0.12.1
uvloop==0.14.0
Wand==0.6.3
